.input-wrapper{
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.custom-input{
    background-color: var(--theme);
    padding: 1rem;
    width: calc(100% - 2rem);
    font-size: 1rem;
    opacity: 0.8;
    border: 2px solid var(--purple-grey);
    border-radius: 0.5rem;
    color: var(--white);
}

.custom-input:focus{
    outline: 0;
    opacity: 1;
    transition: all 0.2s;
    border-color: var(--white);
}

.custom-input::placeholder{
    color: var(--purple-grey)
}

.file-input{
    width: calc(80% - 2rem);
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    opacity: 0.8;
    border: 2px dotted var(--purple-grey);
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--purple-grey);
}

.file-input:hover{
    border-color: var(--white);
    cursor: pointer;
    color: var(--white);
}

.selected{
    border: 2px solid var(--white) !important;
    color: var(--white) !important;
}