.podcast-card {
    width: calc(220px - 1.25rem);
    height: calc(270px - 1.5rem);
    background: linear-gradient(
        177.7deg, 
        rgba(58, 129, 191, 0.3) 1.63%, 
        rgba(65, 48, 90, 0.009) 148.18%
    );
    border-radius: 1rem;
    padding: 0.75rem 0.5rem 0.5rem 0.5rem;
    opacity: 0.7;
    color: var(--white)
}

.podcast-card:hover {
    opacity: 1;
    transition: all 0.3s;
    color: var(--white);
}

.podcast-card .small-image {
    width: 100%;
    height: 85%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.podcast-card .title {
    font-weight: 300;
    margin: 5px;
}