.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
}
.nav-icon {
    align-items: center;
    justify-content: center;
    display: none;
    position: absolute;
}
.nav-icon svg{
    scale: 2;
    color: #8ae6bb;
    cursor: pointer;
}
.nav-icon svg:hover {
    color: var(--white);
    transition: all 0.3s;
}
.navbar .links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.links a{
    text-decoration: none;
    color: #8ae6bb;
}

.links a:hover {
    color: var(--white);
    transition: all 0.3s;
}

.gradient {
    position: absolute;
    width: 800px;
    height: 150px;
    margin: auto;
    background: var(--blue);
    filter: blur(100px);
    z-index: -1;
    top: -140px;
}