.app {
  background-color: #20062e;
  color: white;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.signup {
  width: 70%;
  max-width: 450px;
  height: auto;
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.p-login{
  text-align: center;
  font-size: 0.8rem;
  color: #FFFFFF80;
  cursor: pointer;
}

.p-login:hover {
  color: white;
}