@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

:root {
  --theme: #20062e;
  --blue: #18b2de;
  --white: #fff;
  --grey: #d7d7d7;
  --purple-grey: #8f8297;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button {
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 750px) {
  .episode-btn {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 500px) {
  .input-wrapper {
    width: 100% !important;
    margin: 0;
  }
  .banner-image{
    height: calc(300px - 3.5rem) !important;
    transition: all 0.2s;
  }
  .audio-player{
    font-size: 14px;
  }
  .audio-player-image {
    margin-right: 0.5rem !important;
  }

  .duration-flex {
    gap: 0.3rem !important;
    margin: 0 0.5rem !important;
  }

  .volume-range {
    margin-left: 0.5rem !important;
  }
}

@media screen and (max-width: 400px) {
  .banner-image{
    height: calc(250px - 3.5rem) !important;
  }
  .navbar .links {
    gap: 1rem !important;
    font-size: 0.8rem;
  }

  .file-input {
    width: calc(100% - 2rem) !important;
  }

  .episode-btn {
    padding: 0.4rem !important;
  }

  .pod-title{
    font-size: 24px;
    font-weight: 500;
  }
  .episode-btn{
    font-size: 0.7rem !important;
  }
  .profile-card{
    min-width: calc(220px - 1.25rem);
  }
}

@media screen and (max-width: 320px) {
  .wrapper{
    padding: 0.5rem !important;
    width: calc(100% - 1rem) !important;
  }
  h2{
    font-size: 1.2rem !important;
  }
  .navbar{
    z-index: 1000 !important;
  }
  .nav-icon{
    display: flex !important;
    transition: all 0.2s;
  }
  .links{
    position: absolute !important;
    transition: all 0.2s;
    flex-direction: column;
    top: 3rem;
    width: 100%;
    background-color: black;
    padding: 1rem 0;
    display: none !important;
    border-radius: 0.3rem;
  }
  .links.expanded {
    display: flex !important;
  }
  .nav-icon.icon-active svg{
    color: var(--white) !important;
  }
}