@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

:root {
  --theme: #20062e;
  --blue: #18b2de;
  --white: #fff;
  --grey: #d7d7d7;
  --purple-grey: #8f8297;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button {
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 750px) {
  .episode-btn{
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 400px) {
  .navbar .links{
    gap: 1rem !important;
    font-size: 0.8rem;
  }
  .input-wrapper{
    width: 100% !important;
    margin: 0;
  }
  .file-input{
    width: calc(100% - 2rem) !important;
  }
  .banner-image{
    height: calc(300px - 1rem) !important;
  }
  .episode-btn{
    padding: 0.4rem !important;
  }
}
